<?xml version="1.0"?>
<configuration>
  <!--
    Aby uzyskać opis zmian pliku web.config, zobacz http://go.microsoft.com/fwlink/?LinkId=235367.

    Następujące atrybuty mogą zostać ustawione przy użyciu tagu <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>